* {
  margin: 0;
  padding: 0;
  /* TODO add an imported font */
  font-family: sans-serif;
}

.nav-svg {
  width: 30px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
}

.profile-name {
  font-weight: bold;
}

.main-sidebar-svg {
  width: 50px;
}

.sidebar-svg {
  width: 25px;
}

.project-svg {
  width: 25px;
}
